#***Question  - 1***#

In [ ]:
a=int(input("Enter The Real part of 1st no.: "))
b=int(input("Enter The imaginary part of 1st no.: "))
c = int(input("Enter The Real part of 2nd no.: "))
d= int(input("Enter The imaginary part of 1st no.: "))
c1 = complex(a,b)
c2 = complex(c,d)
print("c1+c2: ",c1+c2)
print("c1-c2: ",c1-c2)
print("c1*c2: ",c1*c2)
print("c1/c2: ",(c1/c2))
# print(c1//c2)
# print(c1%c2)
#Floor Division and Modulo division do not operate on complex numbers

Enter The Real part of 1st no.: 5
Enter The imaginary part of 1st no.: 2
Enter The Real part of 2nd no.: 9
Enter The imaginary part of 1st no.: 7
c1+c2:  (14+9j)
c1-c2:  (-4-5j)
c1*c2:  (31+53j)
c1/c2: {0:.2f} (0.45384615384615384-0.13076923076923078j)

#***Question  - 2***#

In [20]:
l=[0,1,2,3,4,5,6,7,8,9,]
for i in range(10):
  print("(",i," : ",l[i],")", end=" ")
print("\n")
for j in range(1,6):
  print("(",j," : ",l[j],")", end=" ")
print("\n")
for k in range(0,10,2):
  print("(",k," : ",l[k],")", end=" ")
print("\n")
# for m in range(-1):
  # print("(",m," : ",l[m],")", end=" ")

( 0  :  0 ) ( 1  :  1 ) ( 2  :  2 ) ( 3  :  3 ) ( 4  :  4 ) ( 5  :  5 ) ( 6  :  6 ) ( 7  :  7 ) ( 8  :  8 ) ( 9  :  9 )

( 1  :  1 ) ( 2  :  2 ) ( 3  :  3 ) ( 4  :  4 ) ( 5  :  5 )

( 0  :  0 ) ( 2  :  2 ) ( 4  :  4 ) ( 6  :  6 ) ( 8  :  8 )

#***Range Function In Python***#
The range() Function in python is used to generate a sequence.

Range Function returns a sequence of number by default starting from 0 and step as 1.

Range functions takes minimum of 1 parameter and a maximum of 3 parameter.

Syntax of range are as follows:



*   **range(start,stop,step)**
*   For one parameter: __range(stop)__


*   For two  parameter: __range(start,stop)__
*   For Three parameter: __range(start,stop,step)__

#***Question  - 3***#

In [23]:
a = int(input())
b=int(input())
if (a-b)>25:
  print("Multiplication: ",a*b)
else:
  print("Division: ",a/b)

278
17
Multiplication:  4726

#***Question  - 4***#

In [1]:
l1=[1,2,3,4,5,6,7,8,9,10]
for i in l1:
  if i%2==0:
    print("Square of ", i,"minus 2 is ",i**2-2)

Square of  2 minus 2 is  2
Square of  4 minus 2 is  14
Square of  6 minus 2 is  34
Square of  8 minus 2 is  62
Square of  10 minus 2 is  98

#***Question  - 5***#

In [ ]:
l2 = [2,5,6,7,10,11,13,17,18,20]
for i in l2:
  if i>7 and i%2==0:
    print(i)

10
18
20